{% extends "base.html" %}

{% block main %}
<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://brazil-grlk5lagedl.stackpathdns.com/production/brazil/images/1584705874148398-71831974_428033394577990_5290183245891822007_n.jpg?w=1900&fit=crop&crop=faces&auto=%5B%22format%22%2C%20%22compress%22%5D&cs=srgb" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">The Rolling Stones</p>
        </div>
      </div>
  
      <div class="content">
        The Rolling Stones é uma banda de rock britânica formada em Londres no ano de 1962, considerada um dos maiores, mais antigos e mais bem sucedidos grupos musicais de todos os tempos. Ao lado dos Beatles, são considerados a banda mais importante da chamada Invasão Britânica ocorrida nos anos 1960. A banda e seus membros ocuparam posição de destaque nas mudanças musicais e comportamentais dos anos 1960 e são frequentemente relacionados com a contracultura, rebeldia e juventude da época.
      </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://static.dw.com/image/39219505_303.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">The Beatles</p>
        </div>
      </div>
  
      <div class="content">
        The Beatles foi uma banda de rock inglesa formada em 1960 na cidade de Liverpool. Formada por John Lennon, Paul McCartney, George Harrison e Ringo Starr, é considerada a banda mais influente de todos os tempos. O grupo fez parte do desenvolvimento da contracultura da década de 1960 e do reconhecimento da música popular como forma de arte. Enraizados do skiffle, beat e rock and roll da década de 1950, seu som incorporava elementos da música clássica e pop tradicional de maneiras inovadoras; a banda mais tarde explorou estilos musicais que variavam de baladas e música indiana a psicodelia e hard rock. Como pioneiros em gravação, composição e apresentação artística, o grupo revolucionou muitos aspectos da indústria da música e foi frequentemente divulgado como líder dos movimentos juvenis e socioculturais da época.
      </div>
    </div>
</div>
{% endblock main %}

