{% extends "base.html" %}

{% block top %}
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projeto Artemis
        </h1>
        <h2 class="subtitle">
          <br>
          Python + Flask + Bulma
        </h2>
        Letra Digitada: <b>{{letra}}</b>
        <br>
        A letra é da banda: <b>{{resultado}}</b>
      </div>
    </div>
  </section>
{% endblock top %}

{% block main %}
<form method="POST" action="/welcome"> 
    <div class="field">
        <label class="label">Digite a letra</label>
        <div class="control">
            <input name="letra" class="input" type="text" placeholder="Text input">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link" type=submit value="Enviar">
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
</form>
{% endblock main %}

